html {
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin-top: 125px;
    margin-left: 10%;
    margin-right: 10%;
}

.textbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0px 0px 4px 2px gray;
}
.name {
    height: 50px;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2x 2px 2px black);
}

.bio {
    height: 28px;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2x 2px 2px black);
}

.linkintext {
    text-decoration: underline;
    color: lightseagreen;
}

a.linkintext:visited {
    color: lightseagreen;
}

a.linkintext:hover {
    color: darkcyan;
}

.bottomlinks {
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 8px; 
    margin-right: 8px;
    line-height: 2.75;
    padding: 6px;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2x 2px 2px black);
}

a.bottomlinks:visited {
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

a.bottomlinks:hover {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px dimgray);
    filter: drop-shadow(2x 2px 2px dimgray);
}

.imglink {
    text-decoration: none;
}

.imglink img{
    height: 256;
    width: 256;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

a.imglink:hover img{
    height: 266px;
    width: 266px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.myimage img{
    /* margin-top: 5px; */
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0px 1px 2px darkslategray, 1px 0px 2px darkslategray, 0px -1px 2px darkslategray, -1px 0px 2px darkslategray;
}

.iconlinks {
    height: 28px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    line-height: 4;
    margin-left: 8px; 
    margin-right: 8px;
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2x 2px 2px black);
}

a.iconlinks:visited {
    color: white;
    text-decoration: none;
}

a.iconlinks:hover {
    color: black;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px dimgray);
    filter: drop-shadow(2x 2px 2px dimgray);
}

#header{
    position: relative;
}

#header-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#footer{
    position: relative;
}

#footer-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

figure{
    display: inline-block;
}

figcaption{
    font-size: 20px;
    text-align: center;
}