html {
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin-top: 125px;
    margin-left: 10%;
    margin-right: 10%;
}

.textbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 0px 0px 4px 2px gray;
}
.name {
    height: 46px;
    font-size: 42px;
    text-shadow: 0px 1px 2px black, 1px 0px 2px black, 0px -1px 2px black, -1px 0px 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.bio {
    height: 24px;
    font-size: 20px;
    text-shadow: 0px 1px 2px black, 1px 0px 2px black, 0px -1px 2px black, -1px 0px 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.linkintext {
    text-decoration: underline;
    color: lightseagreen;
}

a.linkintext:visited {
    color: lightseagreen;
}

a.linkintext:hover {
    color: darkcyan;
}

.bottomlinks {
    height: 28px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    background-color: dimgray;
    border: 6px solid dimgray;
    border-radius: 8px;
    margin-left: 8px; 
    margin-right: 8px;
    line-height: 2.75;
}

a.bottomlinks:visited {
    color: white;
    text-decoration: none;
    background-color: dimgray;
    border: 6px solid dimgray;
    border-radius: 8px;
}

a.bottomlinks:hover {
    color: white;
    text-decoration: none;
    background-color: gray;
    border: 6px solid gray;
    border-radius: 8px;
}

.imglink {
    text-decoration: none;
}

.imglink img{
    height: 256;
    width: 256;
    margin-top: 5px;
    margin-bottom: 48px;
    margin-left: 24px;
    margin-right: 24px;
}

a.imglink:hover img{
    height: 266px;
    width: 266px;
    margin-top: 0px;
    margin-bottom: 43px;
    margin-left: 19px;
    margin-right: 19px;
}

.myimage img{
    /* margin-top: 5px; */
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0px 1px 2px darkslategray, 1px 0px 2px darkslategray, 0px -1px 2px darkslategray, -1px 0px 2px darkslategray;
}

.iconlinks {
    height: 28px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    line-height: 4;
    margin-left: 8px; 
    margin-right: 8px;
}

a.iconlinks:visited {
    color: white;
    text-decoration: none;
}

a.iconlinks:hover {
    color: black;
    text-decoration: none;
}

#header{
    position: relative;
}

#header-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#footer{
    position: relative;
}

#footer-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}